<!DOCTYPE html>
<html lang="en" xmlns="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset=utf-8 />
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon" />
    <title>{% block title %}Imagepush robot{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" media="all" />
  </head>
  <body>
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
