web/cache/*
web/css/combined/*
web/js/combined/*
web/sitemap.xml
web/sitemap.xml.gz
web/bundles/
web/new_uploads/
web/uploads
web/i/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor/
app/config/parameters.yml
.buildpath
.project
.settings/
nbproject
.rsync_cache
.DS_Store
.tmp_staging/
composer.phar
#composer.lock
nohup.out
*~
