web/cache/*
web/css/combined/*
web/js/combined/*
web/sitemap.xml
web/sitemap.xml.gz
web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor/
app/config/parameters.ini
.buildpath
.project
.settings/
nbproject
.rsync_cache
.DS_Store
