MAILTO="anton@imagepush.to"

# 0 */4 * * * /mnt/www/imagepush/current/app/console imagepush:fetch-from-digg --env=prod

*/30 * * * * /mnt/www/imagepush/current/app/console imagepush:fetch-from-reddit --env=prod

*/5 * * * * /mnt/www/imagepush/current/app/console imagepush:process-source --env=prod

0 */4 * * * /mnt/www/imagepush/current/app/console imagepush:publish-image --env=prod

5 */4 * * * /mnt/www/imagepush/current/app/console imagepush:generate:sitemap --spaceless=1 --env=prod