MAILTO="anton@imagepush.to"

*/15 * * * * /Users/Bob/Sites/imagepush2/app/console imagepush:fetch-from-digg --env=prod

*/5  * * * * /Users/Bob/Sites/imagepush2/app/console imagepush:process-source --env=prod

0  */6 * * * /Users/Bob/Sites/imagepush2/app/console imagepush:publish-image --env=prod

5  */6 * * * /Users/Bob/Sites/imagepush2/app/console imagepush:generate:sitemap --spaceless=1 --env=prod
