files:
  "/etc/php-5.6.d/timezone.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      date.timezone="Europe/Oslo"

container_commands:
  100-set-hostname:
    command: "source .ebextensions/bin/set-hostname.sh"
  200-set-timezone:
    command: "sed -i 's|UTC|Europe/Oslo|g' /etc/sysconfig/clock"
  300-set-timezone:
    command: "ln -sf /usr/share/zoneinfo/Europe/Oslo /etc/localtime"

