##################################################################
##  Sets up the elastic beanstalk log publication to include
##  the Symfony application logs for cloudwatch logs
##################################################################

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/symfony-app.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/app/logs/*.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/symfony-app.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/app/logs/*.log

  # Stream Symfony application logs to Cloudwatch
  "/etc/awslogs/config/imagepush2-app.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/app/current/app/logs/all]
      log_group_name=/aws/elasticbeanstalk/imagepush2-app
      log_stream_name={instance_id}
      file=/var/app/current/app/logs/*.log
