##################################################################
##  Sets up the elastic beanstalk log publication to include
##  the Symfony application logs for cloudwatch logs
##################################################################

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/symfony-app.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/app/logs/*.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/symfony-app.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/app/logs/*.log
