##################################################################
##  Sets up the elastic beanstalk log publication to include
##  the Symfony application logs for cloudwatch logs
##################################################################

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        configSets:
          "_OnInstanceBoot":
            "CmpFn::Insert":
              values:
                - EBCWLLogPublicationSetup
        EBCWLLogPublicationSetup:
          files:
            "/opt/elasticbeanstalk/tasks/taillogs.d/symfony-app.conf":
              content: |
                /var/www/html/app/logs/*.log
              mode : "000644"
            "/opt/elasticbeanstalk/tasks/bundlelogs.d/symfony-app.conf":
              content: |
                /var/www/html/app/logs/*.log
              mode : "000644"
            "/opt/elasticbeanstalk/tasks/systemtaillogs.d/symfony-app.conf":
              content: |
                /var/www/html/app/logs/*.log
              mode : "000644"
            "/opt/elasticbeanstalk/tasks/publishlogs.d/symfony-app.conf":
              content: |
                /var/www/html/app/logs/*.log
              mode : "000644"
