commands:
  100-create-webapp-home-dir: # Fix for "sh: line 0: cd: /home/webapp: No such file or directory" in elasticbeanstalk
    command: mkdir -p /home/webapp && chown webapp:webapp /home/webapp && chown 700 /home/webapp
    ignoreErrors: true
  300-update-composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - option_name: NEW_RELIC_LICENSE_KEY
    value: NewReliclicensekeyshouldbeexactly40chars
  - option_name: SYMFONY__ENV__NEW_RELIC__APPLICATION_NAME
    value: imagepush2
  # List options from parameters.yml which should be created. Note: real values should be changed using AWS Console
  - option_name: SYMFONY_ENV
    value: prod
  - option_name: SYMFONY_DEBUG
    value: 0
  - option_name: SYMFONY__ENV__FILESYSTEMS_IMAGES_ADAPTER
    value: prod
  - option_name: SYMFONY__ENV__CDN_IMAGES_URL
    value: http://cdn.imagepush.to
  - option_name: SYMFONY__ENV__SITE_URL
    value: http://imagepush.to
  # List secret keys below
  - option_name: SYMFONY__ENV__MAILER_USER
    value: placeholder-value-change-me
  - option_name: SYMFONY__ENV__MAILER_PASSWORD
    value: placeholder-value-change-me
  - option_name: SYMFONY__ENV__BITLY_USERNAME
    value: placeholder-value-change-me
  - option_name: SYMFONY__ENV__BITLY_API_KEY
    value: placeholder-value-change-me

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01-symfony-app-warmup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/envvars

      set -xe

      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)

      cd $EB_APP_DEPLOY_DIR

      rm -rf app/cache/* app/logs/*
      chmod -R 777 app/cache app/logs

      php app/console cache:clear --no-debug
      php app/console assetic:dump

      chown -R $EB_APP_USER:$EB_APP_USER app/cache app/logs

      rm web/app_dev.php

      if [[ "$SYMFONY_ENV" == "prod" ]]; then
        crontab -u webapp crontab.eb
      else
        # Show current crontab
        crontab -u webapp -l

        # Remove crontab
        crontab -u webapp -r
      fi