# Complete list of options - http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html
option_settings:
  aws:ec2:vpc:
    VPCId: vpc-dc66b0b9
    Subnets: subnet-cb52e5bc
    AssociatePublicIpAddress: true
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    IgnoreHealthCheck: true    # Use "true" to be able to debug failed deployments
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:autoscaling:launchconfiguration:
    EC2KeyName: anton-server
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2.medium
    MonitoringInterval: 1 minute
    SecurityGroups: sg-03831b66,sg-f37c808a # default and the one for EB
    RootVolumeType: gp2
    RootVolumeSize: 20
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 14

  # php
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web
    memory_limit: 1000M