packages:
  yum:
    newrelic-php5: []
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm

commands:
  configure_new_relic:
    command: newrelic-install install
    env:
      NR_INSTALL_SILENT: true

container_commands:
  300-update-newrelic-ini:
    command: "source .ebextensions/bin/update-newrelic-ini.sh"
  400-configure-newrelic-sysmond:
    command: "/usr/sbin/nrsysmond-config --set license_key=$NEW_RELIC_LICENSE_KEY"
  500-start-sysmond:
    command: "/etc/init.d/newrelic-sysmond start"
