parameters:
    mongodb_connection: mongodb://localhost:27017

    redis_host: localhost
    redis_port: 6379
    redis_db: 3

    mailer_transport: gmail
    mailer_host: localhost
    mailer_user: "%mailer_user%"
    mailer_password: "%mailer_password%"

    old_sound_rabbit_mq.host: localhost
    old_sound_rabbit_mq.port: 5672
    old_sound_rabbit_mq.user: guest
    old_sound_rabbit_mq.password: guest
    old_sound_rabbit_mq.vhost: "/"

    secret: 123sadglsjkg11lsjg
    site_url: "%site_url%"

    # Varnish URL together with port (if not default)
    varnish_url: http://dev-anton.imagepush.to:8080

    filesystems_images_adapter: "%filesystems_images_adapter%"
    cdn_images_url: "%cdn_images_url%"

    # dev-anton
    #filesystems_images_adapter: anton_dev
    #cdn_images_url: http://dev-anton.imagepush.to
    # prod
    #filesystems_images_adapter: prod
    #cdn_images_url: http://cdn.imagepush.to
    
    # Amazon bucket name for "images"
    s3_bucket_name: i.imagepush.to
    #s3_bucket_name: imagepushtest

    aws_key:        "%aws_key%"
    aws_secret_key: "%aws_secret_key%"
    amazon_default_cache_config: apc

    aws_dynamodb_key: "%aws_dynamodb_key%"
    aws_dynamodb_secret_key: "%aws_dynamodb_secret_key%"

    apc_clear_host: http://dev-anton.imagepush.to

    bitly_username: "%bitly_username%"
    bitly_api_key: "%bitly_api_key%"