<div id="digg-widget-1300481538464">
<a href="http://digg.com/users/imagepush/friends">See more stories submitted by my friends on Digg.com</a>
</div>
<script type="text/javascript">
(function() { var s, s1, diggWidget = {id: "digg-widget-1300481538464", layout: 1, colors: {hdrBg: "#ffffff", hdrTxt: "#000000", tabBg: "#ffffff", tabTxt: "#b3caff", tabOnTxt: "#d41717", bdyBg: "#ffffff", stryBrdr: "#ddd", lnk: "#105cb6", descTxt: "#999999", subHd: "#999999"}, title: "Follow imagepush on Digg", width: 300, requests: [{t: "Friends", p: {count: "5", method: "friend.getSubmissions", username: "imagepush"}}], hide: {header: false, diggs: false, footer: true}, nofallback: true, rounded: false, target: "_blank"}; if (window.DiggWidget) { if (typeof DiggWidget == 'function') { new DiggWidget(diggWidget); } else { DiggWidget.push(diggWidget); } } else { DiggWidget = [diggWidget]; s = document.createElement('SCRIPT'); s.type = 'text/javascript'; s.async = true; s.src = 'http://widgets.digg.com/widgets.js'; s1 = document.getElementsByTagName('SCRIPT')[0]; s1.parentNode.insertBefore(s, s1); } })();
</script>