<section class="additionalContent"><div class="contentWrapper">
    <header>
      <h3>Latest submissions by my friends on Digg <a href="http://digg.com/imagepush" target="_blank" class="share-digg-16" style="float:right;" rel="me nofollow external">Follow us on Digg</a></h3>
    </header>
<div id="digg-widget-1300482358899">
</div>
<!-- Top -->
<!-- <script type="text/javascript">
(function() { var s, s1, diggWidget = {id: "digg-widget-1300482358899", layout: 2, colors: {hdrBg: "#666666", hdrTxt: "#000000", tabBg: "#ffffff", tabTxt: "#b3caff", tabOnTxt: "#d41717", bdyBg: "#ffffff", stryBrdr: "#ddd", lnk: "#105cb6", descTxt: "#999999", subHd: "#999999"}, title: "Top stories from Digg", width: 623, requests: [{t: "Top", p: {count: "6", method: "story.getTop", container: ""}}], hide: {header: true, diggs: false, footer: true}, nofallback: true, rounded: false, target: "_blank"}; if (window.DiggWidget) { if (typeof DiggWidget == 'function') { new DiggWidget(diggWidget); } else { DiggWidget.push(diggWidget); } } else { DiggWidget = [diggWidget]; s = document.createElement('SCRIPT'); s.type = 'text/javascript'; s.async = true; s.src = 'http://widgets.digg.com/widgets.js'; s1 = document.getElementsByTagName('SCRIPT')[0]; s1.parentNode.insertBefore(s, s1); } })();
</script> -->
<!-- end of top-->
<!-- Latest from my friends -->
<script type="text/javascript">
(function() { var s, s1, diggWidget = {id: "digg-widget-1300482358899", layout: 2, colors: {hdrBg: "#666666", hdrTxt: "#000000", tabBg: "#ffffff", tabTxt: "#b3caff", tabOnTxt: "#d41717", bdyBg: "#ffffff", stryBrdr: "#ddd", lnk: "#105cb6", descTxt: "#999999", subHd: "#999999"}, title: "Latest submissions by my followers on Digg", width: 623, requests: [{t: "Friends", p: {count: "6", method: "friend.getSubmissions", username: "imagepush"}}], hide: {header: true, diggs: false, footer: true}, nofallback: true, rounded: false, target: "_blank"}; if (window.DiggWidget) { if (typeof DiggWidget == 'function') { new DiggWidget(diggWidget); } else { DiggWidget.push(diggWidget); } } else { DiggWidget = [diggWidget]; s = document.createElement('SCRIPT'); s.type = 'text/javascript'; s.async = true; s.src = 'http://widgets.digg.com/widgets.js'; s1 = document.getElementsByTagName('SCRIPT')[0]; s1.parentNode.insertBefore(s, s1); } })();
</script>
<!-- end of latest -->
</div></section>
