{% import "ImagepushBundle:Helpers:siteHelper.html.twig" as siteHelper %}

<p><span class="h2">Imagepush.to</span> aggregates images from the most popular sites on the web, arranges them by categories, and pushes the best of the best to you hourly.</p>
{# <p>If you have a site or blog, you can take our free widgets. <a href="#" class="more">Read more</a></p> #}
<section id="subscribe">
    <p style="margin-bottom: 0;">
        <a class="share-rss" href="https://imagepush.to/rss" onclick="recordOutboundLink(this, 'Sidebar', this.href);return false;" target="_blank" rel="me external nofollow" title="Latest images on RSS"></a>
        <a class="share-twitter-alt" href="https://twitter.com/imagepush" onclick="recordOutboundLink(this, 'Sidebar', this.href);return false;" target="_blank" rel="me external nofollow" title="Follow us on Twitter"></a>
        <a class="share-fb" href="https://www.facebook.com/imagepush.to" onclick="recordOutboundLink(this, 'Sidebar', this.href);return false;" target="_blank" rel="me external nofollow" title="Follow us on Facebook"></a>
        {#
        <a class="share-follow-digg" href="http://digg.com/imagepush" onclick="recordOutboundLink(this, 'Sidebar', this.href);return false;" target="_blank" rel="me external nofollow" title="Follow me on Digg"></a>
        <br />
        <a class="share-netvibes" href="http://www.netvibes.com/subscribe.php?module=UWA&moduleUrl=http%3A%2F%2Fimagepush.to%2Fnetvibes%2Flatest.html" onclick="recordOutboundLink(this, 'Sidebar', this.href);return false;" target="_blank" rel="me external" title="Add to Google"></a>
        <a class="share-google" href="http://www.google.com/ig/add?moduleurl=http%3A%2F%2Fnvmodules.netvibes.com%2Fwidget%2Fgspec%3FuwaUrl%3Dhttp%253A%252F%252Fimagepush.to%252Fnetvibes%252Flatest.html" onclick="recordOutboundLink(this, 'Sidebar', this.href);return false;" target="_blank" rel="me external" title="Add to Google"></a>
        <a class="share-digg" href="http://digg.com/imagepush" target="_blank" rel="me external nofollow" title="Follow us on Digg"></a>
        <a class="share-gbuzz" href="https://profiles.google.com/imagepush.to/buzz" target="_blank" rel="me external nofollow" title="Follow us on Google Buzz"></a>
        <a class="share-tumblr" href="http://imagepush.tumblr.com" target="_blank" rel="me external nofollow" title="Follow us on Tumblr"></a>
        <a class="share-lj" href="http://imagepush.livejournal.com/" target="_blank" rel="me external nofollow" title="Follow us on Livejournal"></a>
        <a class="share-myspace" href="http://myspace.com/imagepush" target="_blank" rel="me external nofollow" title="Follow us on MySpace"></a>
        <a href="http://www.delicious.com/imagepush" target="_blank" title="Follow us on Delicious"><img src="/images/icons/32/del.icio.us.png" alt="" height="32" /></a>
        <a href="http://www.stumbleupon.com/stumbler/imagepush/" target="_blank" title="Follow us on StumbleUpon"><img src="/images/icons/32/StumbleUpon.png" alt="" height="32" /></a>
        #}
        {# <p class="more"><a href="#">View more subscribing options</a></p> #}
</section>
<figure>
    {{ siteHelper.html('right_300x250') }}
</figure>

{# {{ siteHelper.html('facebook_likebox') }} #}
