{% if tags is not empty %}
<div class="slogan"><a href="{{ path('viewUpcoming') }}" title="Upcoming images" class="active">Trending now:</a></div>
<nav id="latest_trends">
  <ul>
    {# <li><a href="<?php echo url_for("@homepage"); ?>" title="Home" class="active">Home</a></li> #}
    {% for id, tag in tags %}
    {% set tag = tag.text|replace({"\n": " "})|lower %}
    {% if tag is not empty %}
    <li>
      <a href="{{ path('viewUpcomingByTag', {'tag': tag|url_encode}) }}" {{ app.request.get('tag') == tag ? 'class="active"' : '' }}>{{ tag }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
