{% if tags is not empty %}
<div class="slogan"><a href="{{ path('viewUpcoming') }}" title="Upcoming images" class="active">Trending now:</a></div>
<nav>
  <ul>
    {# <li><a href="<?php echo url_for("@homepage"); ?>" title="Home" class="active">Home</a></li> #}
    {% for tag, count in tags %}
    {% set tag = tag|replace({"\n": " "})|lower %}
    <li>
      <a href="{{ path('viewUpcomingByTag', {'tag': tag|url_encode}) }}" {{ app.request.get('tag') == tag ? 'class="active"' : '' }}>{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
